.patient-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    height: max-content;
    max-height: 20rem;
    width: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    z-index: 99999999999;
    border: 1px rgba(10, 10, 10, 0.5) solid;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.3);
}

.btn {
    text-align: left;
    padding: 0.2rem 0 0.2rem 0.4rem;
    height: 1.7rem;
    color: black;
    background-color: white;
    border: none;
    /* border-top: 1px rgba(100, 100, 100, 1) solid; */
}

.btn:hover {
    background-color: var(--light-color);
}

.text-input {
    box-sizing: border-box;
    padding: 0.1rem;
}

.text-input:active,
.text-input:focus {
    border-width: 0.2rem;
    border-color: var(--light-color);
    border-style: solid;
    outline: none;
}


.submit-btn {
    width: fit-content;
    margin-left: 1rem;
    background-color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.submit-btn:hover {
    background-color: var(--helper-color-2);
}

.btn-disabled,
.btn-disabled:hover {
    background-color: var(--dark-color);
    cursor: no-drop;
}

.selected {
    background-color: var(--light-color);
}