.text-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.1rem;
}

.text-input:active,
.text-input:focus {
    border-color: var(--light-color);
    border-style: solid;
    outline: none;
}

.input-invalid {
    border-color: red;
    background-color: rgba(250, 160, 160, 0.2);
    border-width: 1px;
}