@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #006685;
  --primary-color: #0088b1;
  --helper-color: #66cceb;
  --helper-color-2: #1ab3e0;
  --light-color: #cceef8;
  --white: #e6f7fc;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.icon-btn ion-icon {
  font-size: 1.5rem;
  color: var(--helper-color-2);
}

@media (max-width: 750px) {
  * {font-size: 14px;}
}

@media (max-width: 400px) {
  * {font-size: 12px;}
}

button {
  cursor: pointer;
  border: none;
}